# Python cache files
__pycache__/
*.py[cod]
*$py.class
./.ipynb_checkpoints/
.ipynb_checkpoints/

# TensorBoard runs
runs/*
./runs/

./Best_models
Best_models/
./results/
results/*
./wandb
wandb/

./ppo/__pycache__
./config/__pycache__
./simulation/__pycache__

.DS_Store
./.DS_Store

./simulation/scaled_trips/*
./simulation/scaled_trips/

simulation/scaled_trips/*
simulation/scaled_trips/

./simulation/sumo_errorlog.txt
./simulation/sumo_logfile.txt

/simulation/sumo_errorlog.txt
/simulation/sumo_logfile.txt

/simulation/netconvert_log.txt
./simulation/netconvert_log.txt

./saved_models/
./saved_models/*