# Python cache files
__pycache__/
*.py[cod]
*$py.class
./.ipynb_checkpoints/
.ipynb_checkpoints/

# TensorBoard runs
runs/

# Saved models
saved_models/
./Best_models
Best_models/
./results/
results/
./wandb
wandb/

./ppo/__pycache__
./config/__pycache__
./simulation/__pycache__

.DS_Store
./.DS_Store

./simulation/scaled_trips/scaled_pedtrips_0.xml
./simulation/scaled_trips/scaled_pedtrips_1.xml
./simulation/scaled_trips/scaled_pedtrips_2.xml
./simulation/scaled_trips/scaled_pedtrips_3.xml
./simulation/scaled_trips/scaled_pedtrips_4.xml
./simulation/scaled_trips/scaled_pedtrips_5.xml
./simulation/scaled_trips/scaled_pedtrips_6.xml
./simulation/scaled_trips/scaled_pedtrips_7.xml
./simulation/scaled_trips/scaled_pedtrips_8.xml
./simulation/scaled_trips/scaled_pedtrips_9.xml
./simulation/scaled_trips/scaled_pedtrips_10.xml
./simulation/scaled_trips/scaled_pedtrips_11.xml
./simulation/scaled_trips/scaled_pedtrips_12.xml
./simulation/scaled_trips/scaled_pedtrips_13.xml
./simulation/scaled_trips/scaled_pedtrips_14.xml
./simulation/scaled_trips/scaled_pedtrips_15.xml
./simulation/scaled_trips/scaled_pedtrips_16.xml
./simulation/scaled_trips/scaled_pedtrips_17.xml
./simulation/scaled_trips/scaled_pedtrips_18.xml
./simulation/scaled_trips/scaled_pedtrips_19.xml
./simulation/scaled_trips/scaled_pedtrips_20.xml
./simulation/scaled_trips/scaled_pedtrips_21.xml
./simulation/scaled_trips/scaled_pedtrips_22.xml
./simulation/scaled_trips/scaled_pedtrips_23.xml
./simulation/scaled_trips/scaled_pedtrips_24.xml
./simulation/scaled_trips/scaled_pedtrips_25.xml

./simulation/scaled_trips/scaled_vehtrips_0.xml
./simulation/scaled_trips/scaled_vehtrips_1.xml
./simulation/scaled_trips/scaled_vehtrips_2.xml
./simulation/scaled_trips/scaled_vehtrips_3.xml
./simulation/scaled_trips/scaled_vehtrips_4.xml
./simulation/scaled_trips/scaled_vehtrips_5.xml
./simulation/scaled_trips/scaled_vehtrips_6.xml
./simulation/scaled_trips/scaled_vehtrips_7.xml
./simulation/scaled_trips/scaled_vehtrips_8.xml
./simulation/scaled_trips/scaled_vehtrips_9.xml
./simulation/scaled_trips/scaled_vehtrips_10.xml
./simulation/scaled_trips/scaled_vehtrips_11.xml
./simulation/scaled_trips/scaled_vehtrips_12.xml
./simulation/scaled_trips/scaled_vehtrips_13.xml
./simulation/scaled_trips/scaled_vehtrips_14.xml
./simulation/scaled_trips/scaled_vehtrips_15.xml
./simulation/scaled_trips/scaled_vehtrips_16.xml
./simulation/scaled_trips/scaled_vehtrips_17.xml
./simulation/scaled_trips/scaled_vehtrips_18.xml
./simulation/scaled_trips/scaled_vehtrips_19.xml
./simulation/scaled_trips/scaled_vehtrips_20.xml
./simulation/scaled_trips/scaled_vehtrips_21.xml
./simulation/scaled_trips/scaled_vehtrips_22.xml
./simulation/scaled_trips/scaled_vehtrips_23.xml
./simulation/scaled_trips/scaled_vehtrips_24.xml
./simulation/scaled_trips/scaled_vehtrips_25.xml

/simulation/scaled_trips/scaled_pedtrips_0.xml
/simulation/scaled_trips/scaled_pedtrips_1.xml
/simulation/scaled_trips/scaled_pedtrips_2.xml
/simulation/scaled_trips/scaled_pedtrips_3.xml
/simulation/scaled_trips/scaled_pedtrips_4.xml
/simulation/scaled_trips/scaled_pedtrips_5.xml
/simulation/scaled_trips/scaled_pedtrips_6.xml
/simulation/scaled_trips/scaled_pedtrips_7.xml
/simulation/scaled_trips/scaled_pedtrips_8.xml
/simulation/scaled_trips/scaled_pedtrips_9.xml
/simulation/scaled_trips/scaled_pedtrips_10.xml
/simulation/scaled_trips/scaled_pedtrips_11.xml
/simulation/scaled_trips/scaled_pedtrips_12.xml
/simulation/scaled_trips/scaled_pedtrips_13.xml
/simulation/scaled_trips/scaled_pedtrips_14.xml
/simulation/scaled_trips/scaled_pedtrips_15.xml
/simulation/scaled_trips/scaled_pedtrips_16.xml
/simulation/scaled_trips/scaled_pedtrips_17.xml
/simulation/scaled_trips/scaled_pedtrips_18.xml
/simulation/scaled_trips/scaled_pedtrips_19.xml
/simulation/scaled_trips/scaled_pedtrips_20.xml
/simulation/scaled_trips/scaled_pedtrips_21.xml
/simulation/scaled_trips/scaled_pedtrips_22.xml
/simulation/scaled_trips/scaled_pedtrips_23.xml
/simulation/scaled_trips/scaled_pedtrips_24.xml
/simulation/scaled_trips/scaled_pedtrips_25.xml

/simulation/scaled_trips/scaled_vehtrips_0.xml
/simulation/scaled_trips/scaled_vehtrips_1.xml
/simulation/scaled_trips/scaled_vehtrips_2.xml
/simulation/scaled_trips/scaled_vehtrips_3.xml
/simulation/scaled_trips/scaled_vehtrips_4.xml
/simulation/scaled_trips/scaled_vehtrips_5.xml
/simulation/scaled_trips/scaled_vehtrips_6.xml
/simulation/scaled_trips/scaled_vehtrips_7.xml
/simulation/scaled_trips/scaled_vehtrips_8.xml
/simulation/scaled_trips/scaled_vehtrips_9.xml
/simulation/scaled_trips/scaled_vehtrips_10.xml
/simulation/scaled_trips/scaled_vehtrips_11.xml
/simulation/scaled_trips/scaled_vehtrips_12.xml
/simulation/scaled_trips/scaled_vehtrips_13.xml
/simulation/scaled_trips/scaled_vehtrips_14.xml
/simulation/scaled_trips/scaled_vehtrips_15.xml
/simulation/scaled_trips/scaled_vehtrips_16.xml
/simulation/scaled_trips/scaled_vehtrips_17.xml
/simulation/scaled_trips/scaled_vehtrips_18.xml
/simulation/scaled_trips/scaled_vehtrips_19.xml
/simulation/scaled_trips/scaled_vehtrips_20.xml
/simulation/scaled_trips/scaled_vehtrips_21.xml
/simulation/scaled_trips/scaled_vehtrips_22.xml
/simulation/scaled_trips/scaled_vehtrips_23.xml
/simulation/scaled_trips/scaled_vehtrips_24.xml
/simulation/scaled_trips/scaled_vehtrips_25.xml
