# Python cache files
__pycache__/
*.py[cod]
*$py.class
./.ipynb_checkpoints/
.ipynb_checkpoints/

# TensorBoard runs
runs/

# Saved models
saved_models/
./Best_models
Best_models/
./results/
results/
./wandb
wandb/

./SUMO_files/scaled_trips/scaled_pedtrips_0.xml
./SUMO_files/scaled_trips/scaled_pedtrips_1.xml
./SUMO_files/scaled_trips/scaled_pedtrips_2.xml
./SUMO_files/scaled_trips/scaled_pedtrips_3.xml
./SUMO_files/scaled_trips/scaled_pedtrips_4.xml
./SUMO_files/scaled_trips/scaled_pedtrips_5.xml
./SUMO_files/scaled_trips/scaled_pedtrips_6.xml
./SUMO_files/scaled_trips/scaled_pedtrips_7.xml
./SUMO_files/scaled_trips/scaled_pedtrips_8.xml
./SUMO_files/scaled_trips/scaled_pedtrips_9.xml
./SUMO_files/scaled_trips/scaled_pedtrips_10.xml
./SUMO_files/scaled_trips/scaled_pedtrips_11.xml
./SUMO_files/scaled_trips/scaled_pedtrips_12.xml
./SUMO_files/scaled_trips/scaled_pedtrips_13.xml
./SUMO_files/scaled_trips/scaled_pedtrips_14.xml
./SUMO_files/scaled_trips/scaled_pedtrips_15.xml
./SUMO_files/scaled_trips/scaled_pedtrips_16.xml
./SUMO_files/scaled_trips/scaled_pedtrips_17.xml
./SUMO_files/scaled_trips/scaled_pedtrips_18.xml
./SUMO_files/scaled_trips/scaled_pedtrips_19.xml

./SUMO_files/scaled_trips/scaled_vehtrips_0.xml
./SUMO_files/scaled_trips/scaled_vehtrips_1.xml
./SUMO_files/scaled_trips/scaled_vehtrips_2.xml
./SUMO_files/scaled_trips/scaled_vehtrips_3.xml
./SUMO_files/scaled_trips/scaled_vehtrips_4.xml
./SUMO_files/scaled_trips/scaled_vehtrips_5.xml
./SUMO_files/scaled_trips/scaled_vehtrips_6.xml
./SUMO_files/scaled_trips/scaled_vehtrips_7.xml
./SUMO_files/scaled_trips/scaled_vehtrips_8.xml
./SUMO_files/scaled_trips/scaled_vehtrips_9.xml
./SUMO_files/scaled_trips/scaled_vehtrips_10.xml
./SUMO_files/scaled_trips/scaled_vehtrips_11.xml
./SUMO_files/scaled_trips/scaled_vehtrips_12.xml
./SUMO_files/scaled_trips/scaled_vehtrips_13.xml
./SUMO_files/scaled_trips/scaled_vehtrips_14.xml
./SUMO_files/scaled_trips/scaled_vehtrips_15.xml
./SUMO_files/scaled_trips/scaled_vehtrips_16.xml
./SUMO_files/scaled_trips/scaled_vehtrips_17.xml
./SUMO_files/scaled_trips/scaled_vehtrips_18.xml
./SUMO_files/scaled_trips/scaled_vehtrips_19.xml

/SUMO_files/scaled_trips/scaled_pedtrips_0.xml
/SUMO_files/scaled_trips/scaled_pedtrips_1.xml
/SUMO_files/scaled_trips/scaled_pedtrips_2.xml
/SUMO_files/scaled_trips/scaled_pedtrips_3.xml
/SUMO_files/scaled_trips/scaled_pedtrips_4.xml
/SUMO_files/scaled_trips/scaled_pedtrips_5.xml
/SUMO_files/scaled_trips/scaled_pedtrips_6.xml
/SUMO_files/scaled_trips/scaled_pedtrips_7.xml
/SUMO_files/scaled_trips/scaled_pedtrips_8.xml
/SUMO_files/scaled_trips/scaled_pedtrips_9.xml
/SUMO_files/scaled_trips/scaled_pedtrips_10.xml
/SUMO_files/scaled_trips/scaled_pedtrips_11.xml
/SUMO_files/scaled_trips/scaled_pedtrips_12.xml
/SUMO_files/scaled_trips/scaled_pedtrips_13.xml
/SUMO_files/scaled_trips/scaled_pedtrips_14.xml
/SUMO_files/scaled_trips/scaled_pedtrips_15.xml
/SUMO_files/scaled_trips/scaled_pedtrips_16.xml
/SUMO_files/scaled_trips/scaled_pedtrips_17.xml
/SUMO_files/scaled_trips/scaled_pedtrips_18.xml
/SUMO_files/scaled_trips/scaled_pedtrips_19.xml

/SUMO_files/scaled_trips/scaled_vehtrips_0.xml
/SUMO_files/scaled_trips/scaled_vehtrips_1.xml
/SUMO_files/scaled_trips/scaled_vehtrips_2.xml
/SUMO_files/scaled_trips/scaled_vehtrips_3.xml
/SUMO_files/scaled_trips/scaled_vehtrips_4.xml
/SUMO_files/scaled_trips/scaled_vehtrips_5.xml
/SUMO_files/scaled_trips/scaled_vehtrips_6.xml
/SUMO_files/scaled_trips/scaled_vehtrips_7.xml
/SUMO_files/scaled_trips/scaled_vehtrips_8.xml
/SUMO_files/scaled_trips/scaled_vehtrips_9.xml
/SUMO_files/scaled_trips/scaled_vehtrips_10.xml
/SUMO_files/scaled_trips/scaled_vehtrips_11.xml
/SUMO_files/scaled_trips/scaled_vehtrips_12.xml
/SUMO_files/scaled_trips/scaled_vehtrips_13.xml
/SUMO_files/scaled_trips/scaled_vehtrips_14.xml
/SUMO_files/scaled_trips/scaled_vehtrips_15.xml
/SUMO_files/scaled_trips/scaled_vehtrips_16.xml
/SUMO_files/scaled_trips/scaled_vehtrips_17.xml
/SUMO_files/scaled_trips/scaled_vehtrips_18.xml
/SUMO_files/scaled_trips/scaled_vehtrips_19.xml
